/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 1% 10%;
  font-size: 1vw;
}

:root {
  --primary-color: #460073;
  --secondary-color: #a100ff;
  /* --light-gray: #e5e5e5; */
  --light-gray: #cccccc;
  --medium-gray: #cccccc;
  --dark-gray: #a59da5;
}

button {
  font-size: 1vw;
}

button:hover {
  cursor: pointer;
}

.cancel-button {
  border-radius: 1rem;
  border-color: var(--secondary-color);
}

.save-button {
  border-radius: 1rem;
  background-color: var(--secondary-color);
  color: white;
  border-color: var(--secondary-color);
}

.save-button:disabled {
  cursor: not-allowed;
  background-color: var(--light-gray);
  color: black;
  border: 1px solid var(--light-gray);
}

.control-error {
  color: red;
  margin-top: 1%;
}

input {
  border-radius: 0.4rem;
  border: 1.5px solid var(--medium-gray) !important;
  font-family: "Rubik";
  font-size: 1vw;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0s forwards;
}

.fade-out {
  opacity: 1;
  animation: fadeOut 3s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* remove the arrow up and down in input type number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
